ul > li{
	list-style-type: none;
}

#loader{
	 background-image: url("../images/loading.gif");
	 background-size: contain;
	 align: middle;
	 text-align: center;
	 display: block;
}

.logo{
	line-height: 1.5em;
    font-weight: 700;
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.start{
	font-size: 2.5em;
	width: 50%;
	height: 20%;
	align: middle;
	text-align: center;
	display: block;
	border: 2px solid;
    border-radius: 25px;
 	margin-left: auto;
 	margin-right: auto;
}

.start:HOVER {
	background-color: navy;
	color: white;
}

#submitForm{
	width: 100%;
	height: 100%;
}

section{
	margin-top: 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
